body {
    /*background-image:url('../scribble_light/scribble_light.png');
    background-image:url('../img/squairy_light/squairy_light.png');*/
}

.thumbnail {
	margin: auto;
	padding-top: 60%;
}

.content ul {
	padding-left: 20px;
}

.top-bar-section .dropdown li a {
	padding-top: 15px;
}

.row .large-8 {
	padding-top: 20px;
}
