body {
    /*background-image:url('../scribble_light/scribble_light.png');
    background-image:url('../img/squairy_light/squairy_light.png');*/
}

.thumbnail {
	margin: auto;
	top: 20%;
	padding-top: 50%;
}
